@{
    ViewData["Title"] = "TODO LIST";
}
<h1 style="font:500; color:blueviolet">
    <a class="btn" style="background-color:antiquewhite" asp-controller="Todo" asp-action="Index2">Go to TODO LIST</a>
    &nbsp;
    <img src="~/images/todo_500.jpg" style="width:503px;height:512px"/>
</h1>

